[2017-08-08 19:42] syska opened #2 "Tree View support?"
This looks awesome ... I'm looking for something like this and it's the best for VueJs I have found yet.

But I'm looking for something a little different. I need to edit a tree view of nodes and move them around like the container part ...

Something like this, besides it's for angularjs: https://angular-ui-tree.github.io/angular-ui-tree/#/basic-example

Is that a big new thing for vddl or could

[2017-08-09 02:06] hejianxian commented on #2
@syska Thank you!

I'm not quite sure. But if the elements from the layout to do some changes, it should be able to achieve the effect of tree. Or, I can try to write a tree demo later.

[2017-08-09 02:15] hejianxian commented on #2
How about this. [vue-drag-tree](https://github.com/shuiRong/vue-drag-tree)

[2017-08-14 02:26] #2 closed

[2017-08-14 09:13] syska commented on #2
@hejianxian

Would be awesome with a demo if possible ...

[2017-08-14 09:15] syska commented on #2
Thinking about it ... I guess I could style this: http://hejx.space/vddl-demo/#/nested

[2017-08-23 04:36] vividvilla opened #3 "Issue with placeholder in list transitions"
When transition group is applied over the list `vddl-draggable` the placeholder doesn't work as expected since transition group by default inserts a `span` over the element and placeholder `vddl-placeholder` is outside the wrapped `span`. Is there any workaround for this?

[2017-08-23 05:36] hejianxian commented on #3
@vividvilla Hi!

Thank you for using vddl. 😋

But, I do not understand your question, whether it can provide more description, or paste your code?

[2017-08-23 07:59] vividvilla commented on #3
My code is somewhat like this

[code]
Since I have wrapped the list items with `transition-group` drag and move feature is broken for me. This is because `vddl-placeholder` is moved across the list when you drag and move but because of `transition-group` inserting `span` tag to wrap all `vddl-draggable` items it can't move one level below.

Let me know if you got it else I will create a jsbin and

[2017-08-23 16:30] hejianxian commented on #3
I tried to write a transition demo, but the feeling vddl is not suitable for adding animation effects. If you use `<transition-group>`, because it renders an actual element, such as `span`, or any tag attribute set.

However, this will break the list structure of `vddl`.

If you have to do this, you can only change the `vddl-list` element to `<transition-group>`, but this also causes the `vddl-pla

[2017-08-24 20:13] vividvilla commented on #3
Adding the class didn't help but as you said the fix might change structure of this lib but I feel transitions are very common and more users might want to use it. For now I am planning to fork it and maintain it just for my project and if its good enough then I will give a PR.

[2017-08-25 02:22] hejianxian commented on #3
@vividvilla Thanks again!

My main concern is that this change may completely break the original logic. Like [react-beautiful-dnd](https://github.com/atlassian/react-beautiful-dnd), the animation is great, but it's not based on HTML5 Drag & Drop api. If you want to achieve animation, you may first have to change the way to deal with `placeholder` element hidden and display behavior.

If you have a

[2017-08-30 15:15] mgthomas99 opened #4 "Dragged element duplication"
I would like to report a bug.

**VDDL Version**: 0.5.2
**Vue Version**: 2.3.3

When I drag-and-drop `<vddl-draggable>` elements within a `<vddl-list>` too quickly while there is text selected on the webpage, the dragged element sometimes clones itself and replaces a different element in the list.

I have created an example project [here](https://github.com/mgthomas99/__vddl-duplication-bug-repro),

[2017-09-18 15:57] qq447665722 opened #5 "是否支持动态添加dropzones"
尝试在example/nested.vue中添加
[code]
添加`<a @click="dropzones.C=[]">Add Dropzone</a>`代码
点击Add Dropzone会出现奇怪的问题

1. 视图中Dropzone没有即时出现,随便更改Container排序,新的Dropzone才会出现
2. 拖动新的Container到新的Dropzone,视图并不能出现Container

是否我的使用方法有问题?

[2017-09-19 01:43] hejianxian commented on #5
@qq447665722 谢谢使用！

我猜你的意思是，动态添加一个 Dropzone（而无需拖动）。如果只是单纯做这个东西，那么是没问题的，至于你这里为何不可以，是因为`<a @click="dropzones.C=[]">Add Dropzone</a>`这样写并不能让 Vue 更新视图，你可以试试使用 `Object.assign`方法添加新的属性：

[code]

[2017-09-22 04:55] #5 closed

[2017-09-25 06:27] enghelewa opened #6 "duplicate vddl-draggable using :inserted"
Hi,
I'am using `:inserted` to send requests to the backend to persist my `vddl-list` reordering. But noticed that the item I am dragging is duplicated.
I noticed this paragraph in the docs:

So how to overcome this problem? Do I need to listen for a different callback?
thanks

[code]

[2017-09-25 07:19] hejianxian commented on #6
@enghelewa Hi.

First, the `inserted` callback does not have any side effects, but some things you need to know:

About that, because the old list data has not been cropped, the element is only hidden.

For example:

[code]
[code]

After completing an operation, it log:

[code]

So, I'm not sure what you need, but I think you can try the `dragend` callback.

[2017-09-25 08:47] enghelewa commented on #6
@hejianxian
Thank you `dragend` worked fine for me. I saw it in the docs but unfortunately I read it as `dragged` not `drag end` I should read the docs more carefully.
Anyways thank you again.

[2017-09-25 08:47] #6 closed

[2017-09-27 11:21] RobertM574 opened #7 "列表是否支持多级嵌套，类似菜单栏那样的？？"
你好，看了你的示例，列表是否支持多级嵌套，类似菜单栏那样的？？

[2017-09-27 12:59] hejianxian commented on #7
支持！

看 Nested 例子就好！

[2017-09-28 07:06] qq447665722 commented on #5
明白,谢谢~

[2017-10-19 17:52] SHA-256 opened #8 "Background is added to dragged element."
Hello,

First of all I thank you really much for this awesome component. It's really awesome!

Actually I'm experiencing trouble with the dragged element.

A background is added to the element out of nowhere. Also the tooltip (which is a display:absolute; element attached to the body) gets copied.

I've taken a picture:
![the problem](http://dl.sha256.eu/file/3d5b6459-23be-4510-afc4-f75330186bbc.p

[2017-10-20 05:06] hejianxian commented on #8
@SHA-256

Hello, thanks for using vddl and raising your questions here. I'm busy with work, will check this issue at this weekend.

[2017-10-22 05:10] obrienmd opened #9 "dragover not firing on element"
Thanks for the component - it's saved me significant time on a side project!

With Vue 2.5.2 and vddl 0.5.2, given the Vue file below, I can't seem to get the checkValidDrop callback to fire. This component renders recursively through nested items (which can be either a parent with children, or not) and works _great_, other than I'd like to be a bit more selective about exactly where I'm allowing

[2017-10-22 14:25] #7 closed

[2017-10-22 15:06] hejianxian commented on #8
@SHA-256

Can you provide more details? Such as the style of the element and tooltip, it's best to provide your browser information.

[2017-10-22 15:26] hejianxian commented on #9
@obrienmd

I have solved the problem of the `dragover` callback does not fire, please update 'vddl' to v0.5.3

[2017-10-22 15:52] obrienmd commented on #9
@hejianxian Thanks! Callback is firing as expected now, but returning false does not prevent drop (either visually or the actual drop). Is this expected?

[2017-10-22 15:56] hejianxian commented on #9
Try `disable-if`.

[2017-10-22 16:41] obrienmd commented on #9
I'm using it, actually. It seems they have different use-cases - `disable-if` when I'm deciding if a list can or cannot be dropped on based on that list's properties, and `dragover`, which lets me disallow a drag with more information about the item being dropped and where it would go.

Is that incorrect?

Perhaps more info on my goal would help. I'm trying to create a situation in which:
- Items

[2017-10-23 01:57] hejianxian commented on #9
@obrienmd

[2017-10-23 03:04] lijiahao8898 opened #10 "vddl-draggable的callback问题"
![image](https://user-images.githubusercontent.com/21115240/31870655-adf84c7a-b774-11e7-84ed-3a822d8157bd.png)。
每次拖动一个drag元素。所有的drag回调全部调用了。是这样的嘛 还是我使用的方式不太正确。。。

[2017-10-23 03:07] hejianxian commented on #10
@lijiahao8898

请问具体的问题是什么？`vdd-list` 和  `vddl-draggable`的回调说明具体看文档吧。

[2017-10-23 03:11] lijiahao8898 commented on #10
我拖动当前的vddl-draggable。只会触发当前的vddl-draggable，还是所有的vddl-draggable呢。

[code]
我回调是写在template和methods里面。

[code]

[2017-10-23 03:13] hejianxian commented on #10
触发你拖动的那个元素

[2017-10-23 05:18] lijiahao8898 commented on #10
我回调方法都是写在 `vddl-draggable` 里面的，譬如 `:moved="moved()"` 。写法上是不是不正确。我看了您的文档。里面直说回调的方法。没有说如何调用的。

[2017-10-23 05:29] hejianxian commented on #10
看看这个 [simple demo](https://github.com/hejianxian/vddl/blob/master/example/src/views/simple.vue)

[2017-10-23 06:03] lijiahao8898 commented on #10
老哥，是 `:moved="moved()"` 和 `:moved="moved"` 的区别。后者就对了。我之前使用的是前者。我在您的 `simple demo` 里面。将回调方法 `:dragstart="handleDragstart` 替换成 `:dragstart="handleDragstart()` 也会出现我的问题。但是，这两个的写法不是应该一样的嘛？

[2017-10-23 06:06] hejianxian commented on #10
你的写法，在初始化的时候，就会被执行，而作为callback，是从vddl内部在对应阶段时触发，所以你只需要传入方法名即可。

[2017-10-23 09:25] lijiahao8898 commented on #10
嗯。我这边又有个疑问。
在 `vddl-list` 加上 `:drop="handleDrop"` 的callback。元素就无法拖拽到另外的一边了。在 `simple demo` 中也有这样的问题。

[2017-10-23 09:27] hejianxian commented on #10
如果添加了这个回调，那么vddl内部不会帮你裁剪数组，只会返回一些数据，这个操作需要你自己进行。

[2017-10-23 21:37] obrienmd commented on #9
Thanks for re-opening, please let me know if there's anything I can do to help out or test!

[2017-10-24 01:55] lijiahao8898 commented on #10
@hejianxian
好的。非常感谢您的耐心解答。

[2017-10-24 02:34] #10 closed

[2017-10-24 03:22] hejianxian commented on #9
@obrienmd

`Vddl` provides two callback for user to splice the :list customize, it mean, if you set that, you need splice the :list yourself.

* `drop` in `vddl-list`
* `moved` in `vddl-draggable`

I updated the [simple demo](https://github.com/hejianxian/vddl/blob/master/example/src/views/simple.vue), but not sure if it can solve your situation.

[2017-10-24 15:03] obrienmd commented on #9
Thanks. To clarify, do you intend to change the docs to reflect that draggable does not disallow drop on return false, or is that just a longer-term fix and these are near-term options?

[2017-10-26 01:29] lmasdata opened #11 "关于拖拽后值改变的问题"
你好，用了你的vddl感觉非常不错，但是最近在使用拖拽的时候遇到一个问题。
1：首先我拖拽了两个输入框，然后改变了其中的一个title值
2：在拖拽两个输入框互换顺序的时候，两个输入框的title值成为了相同的
3:  我大体看了下，好像是在互换的时候，删除了其中的一个，然后把新的给覆盖上了
描述的不是很清楚，下面有截图
![image](https://user-images.githubusercontent.com/8501594/32030791-045fed26-ba30-11e7-9db8-42b269b3ec99.png)
![image](https://user-images.githubusercontent.com/8501594/32030800-110f396e-ba30-11e7-9a22-3823c3cd7be3.png)

[2017-10-26 02:08] hejianxian commented on #11
@lmasdata 谢谢！

在拖动的时候的确是会进行2次的裁剪操作，你的列表是否使用了 :key="index"，这个会导致计算错误。

[2017-10-26 02:36] lmasdata commented on #11
@hejianxian 你好，:key是使用的id, 这是我的代码
<pre>
<code>
<template>
    <div>
        <Row>
            <Col span="16">
            <Card>
                <Row>
                    <Col span="10">
                    <Card dis-hover>
                        <p slot="title">
                            <Icon type="ios-list-outline"></Icon>
                            组件库
                        </p>

[2017-10-26 02:38] lmasdata commented on #11
@hejianxian 你好，:key使用的是id，这是我的代码
[code]

[2017-10-26 02:39] lmasdata commented on #11
@hejianxian 你好，:key使用的是id，这是我的代码
[code]

[code]

[2017-10-26 02:45] hejianxian commented on #11
看不出什么问题。你再看看，有没有地方会影响到元素的排序的。

[2017-10-26 02:51] lmasdata commented on #11
请问，拖拽排序的逻辑是把拖拽的元素复制一份，然后把原来所在的位置的元素删掉么?

[2017-10-26 03:35] hejianxian commented on #11
简单地说，在拖起的时候，会把draggable的数据放到 dataTransfer 里，在放下到list时，会触发drop回调，如果没设置这个回调，内部会在list加入这个draggable数据。接着，原来的那个被拖起的数据也会被删除。

[2017-10-26 05:04] #11 closed

[2017-11-15 22:04] AWulkan opened #12 "rm -rf is not a valid command on Windows"
I tried to run `npm install`, but I got an error when it got to the `rm -rf dist/` part of the package.json file.
https://github.com/hejianxian/vddl/blob/5ffb105ae49ba1fce59b9dd49161c7050d56bcc4/package.json#L11

One solution would be to include 'shx' and just prepend it infront of non-windows commands. Like they've done in this commit: https://github.com/ReactiveX/rxjs/pull/1681/files

I could su

[2017-11-16 02:18] hejianxian commented on #12
Of course, look forward to your PR!

[2017-11-17 01:46] hejianxian commented on #12
@AWulkan  For bug #4 , do you have any ideas? I tried some methods, but none of them succeeded.

[2017-11-17 07:39] baixiyang commented on #4
how to resolve this problem

[2017-11-17 08:09] baixiyang commented on #4
我从上往下拖不会有问题，但是从下往上拖就会有问题。而且这个问题有时候会发生有时候突然又正常了。。。。

[2017-11-17 09:34] hejianxian commented on #4
@baixiyang 谢谢关注！

我观察过其他人写的基于H5的拖动库，大部分都不会出现这种问题，但是我暂时还没找到解决方法。而且最近一直在加班，没太多时间去处理这个问题，实在抱歉。

如果你有任何解决思路，请告诉我一下，谢谢！

[2017-11-17 14:33] AWulkan commented on #12
I will have to take a look at the code this weekend, probably sunday. It is crucial that it works for me since I'm using it for a real world application.

Before moving to this tool I had built a custom list of draggable items in normal JS, but it lacked nested groups, which later became a requirement by the client. So we moved to Vue and found this neat project. :)

Gonna close this issue and con

[2017-11-17 15:02] #12 closed

[2017-11-17 15:06] AWulkan commented on #4
My boss was able to find a way to recreate the bug (Please don't mind the awful design, it's only temporary).
![bug](https://imgur.com/933e220c-c78e-4b59-b49b-7c98cd4b3b56)

I haven't tried recreating it like this outside of our project yet though.

[2017-11-17 20:02] AWulkan commented on #4
Hey again. I decided to try it out with your example code for VDDL nested lists, and I got some weird results...

In this gif I first manage to recreate the bug in my own local dev environment, running your example code (I haven't changed anything). But when I switch over to your website and do the same, it works.
https://imgur.com/a/DPvcX

I have tried this over and over many times now and about

[2017-11-18 22:48] AWulkan commented on #4
I have made some progress.

I believe it's this line that is removing the wrong item from the list:
https://github.com/hejianxian/vddl/blob/5ffb105ae49ba1fce59b9dd49161c7050d56bcc4/src/components/vddl-draggable.vue#L87

I did some logging like this: https://imgur.com/a/2j9KW

If I start with a list like this:
[code]

And then drag item 3 up between item 1 and 2, I get this logged to the console:
[

[2017-11-18 23:52] gjactat commented on #4
Hello,
The bug seems to be related to the version of Vue. I've built a small project on CodeSandbox with the exact code of your "horizontal" demo (https://codesandbox.io/s/j387n4j3y3). Note that CodeSandbox makes it easy to change the version of packages dependencies, thus comparing the ok version with the ko version.
The bug occurs with a dependency of Vue 2.5.6 but doesn't occur with Vue 2.4.2 (

[2017-11-19 00:05] AWulkan commented on #4
@gjactat I tested it a bit and it appears that 2.5.0 is the breakpoint for when things started go wrong.

[2017-11-19 00:07] gjactat commented on #4
Yes... Version 2.5.0 brings major changes !

[2017-11-19 00:11] AWulkan commented on #4
Also, if you look at my comment I explain where the wrong element is being removed from the list. Maybe I can install Vue 4.2.2 and log the same stuff to see the difference.

[2017-11-19 00:12] gjactat commented on #4
If you can downgrade to Vue 2.4.4, you can fix your issue.
I personnaly can't downgrade :-/

[2017-11-19 00:14] AWulkan commented on #4
I am just running the example project that you can find in this repo when I'm testing now.

[2017-11-19 00:22] gjactat commented on #4
I need to kick a new sandbox with vddl sources instead of package dependency to investigate deeper ( breakpoints and traces....). We're getting closer !

[2017-11-19 00:45] AWulkan commented on #4
Ok, so I have installed the older version now and I can see that the right index is set to `this.index`.

Starting list:
[code]

And then drag item 3 up between item 1 and 2, I get this logged to the console:
[code]

Notice how `this.index` is 3 this time.

[2017-11-19 01:20] gjactat commented on #4
I've got a patch on my fork. This is a quick fix that relies on ids instead of indexes. I won't make a pull request as long as it changes the behaviour (vddl originally doesn't need ids, only for Vue v-for directive).
Anyway, it works for cases where your items have ids...

https://github.com/gjactat/vddl/commit/1102b2108230a0c743f8a2c74e477cd17a785942#diff-dfffb20e5ca8ccf0fe86081ed87328ea

[2017-11-19 12:14] AWulkan opened #15 "shx causes tests to fail"
Solve one problem, introduce another...
It appears that shx causes the tests to fail. I am unsure what to do about it, but maybe there's another solution than shx if we really can't use it.

[code]

[2017-11-19 13:19] hejianxian commented on #15
@AWulkan Thank you for your PR.

Then, about this bug, I think `shx` must be installed as 'dependencies'.

[code]
I tried and it work.

[2017-11-19 13:34] AWulkan commented on #15
Okey, great.
On their github page it shows as a dev depenency: https://github.com/shelljs/shx
But if installing it as a dependency makes it work then I see no problems with it.

[2017-11-19 14:37] hejianxian commented on #15
@AWulkan

Ing, but I will remove the `shx`. Because I don't want it appear in `dependencies`.

Sorry, for your previous PR. 😞

[2017-11-19 17:17] AWulkan commented on #15
Ok, do you plan on replacing it with any other cross platform alternative?
I mean, it's your project, but I (and everyone else on Windows) won't be able to help you anymore otherwise.

[2017-11-19 20:56] gjactat opened #16 "Make use of Vue events"
Hello,
Vddl callbacks are a bit tricky because when defined, they are substitued to standard vddl code. The developer is then forced to handle items/lists stuffs (splices etc...).
It would be very useful to have events to listen to list changes without having to worry about lists splices handling.
Vue makes it very easy to add events.
This could help us to process tasks after something happened (i

[2017-11-19 21:32] AWulkan commented on #4
I noticed that the Vuex example still suffers from this problem as well.
http://hejx.space/vddl-demo/#/vuex

Since it adds and deletes items through actions it wasn't solved by my pull request, but the solution should probably be similar now that we know the causation.

[2017-11-20 02:53] baixiyang commented on #4
i think the reason is vue has not update the index after drop(when drop up ,one item insert before.vue should update the index to index +1,but not)
this.$nextTick(function () {
       this$1.wrapper.splice(this$1.wrapper.indexOf(this.draggable), 1);
 });
so just find the true index instead of this.index

[2017-11-20 03:04] baixiyang commented on #4
this way cannot suit string and number list @hejianxian ，we need  stricter way to get the true index。

[2017-11-20 06:57] AWulkan commented on #4
Yes, the index is passed before the list is updated for the Vuex example, we need a way to make sure that the real index is accessible.

[2017-11-20 12:10] #15 closed

[2017-11-20 14:28] awulkan opened #17 "Disabling drag & drop is not working correctly"
Items disappear under certain circumstances if you disable drag & drop and then drag them.

**Steps to reproduce**
1. Go to this page: http://hejx.space/vddl-demo/#/nested
2. Click the red 'disable' button.
3. Select the text inside of an item and drag it.

**Temporary solution**
I managed to get around this by adding this class to my css:
[code]
And then adding
[code]

To my nested list like this

[2017-11-20 15:01] hejianxian commented on #4
@AWulkan I fixed it.

But I think the more serious problem is: press `Ctrl+A` to select all text on the page, and then, how to stop the text from being dragged while dragging.

[2017-11-20 15:05] hejianxian commented on #17
What browser?

[2017-11-20 18:52] AWulkan commented on #17
Chrome Version 62.0.3202.94 (Official Build) (64-bit).
Firefox Quantum 57.0

Probably all browsers.
Disable drag mode, then select all text and drag the items up and down.

[2017-11-20 19:00] AWulkan commented on #4
@hejianxian Are you talking about the nested list when it's disabled? Well, I know that you can add `user-select: none;` in the css on the vddl-list to prevent selection of text. It worked for me in the project I'm working on.

[2017-11-20 21:21] HapLifeMan opened #18 "Drop doesn't work"
Hey,

Thank you for your amazing plugin, it works well but I am encountering an issue when trying to drop a draggable element over a list...

The following code triggers `dragstart`, `dragend` and `dragover` methods but nothing happens on `drop` event... Any idea?

[code]

[code]

[code]

I am using Vddl by importing the main .js file (I know that's very dirty)...

Thanks for your help 😊

[2017-11-21 02:30] hejianxian commented on #4
😭 `Ctrl+A` can select all text on the page.

<img src="https://user-images.githubusercontent.com/6087438/33051691-3a6fe756-cea6-11e7-9ec5-e51f0137ddac.png" width="300" />

when dragging element:

<img src="https://user-images.githubusercontent.com/6087438/33051790-a9c8ee40-cea6-11e7-982a-6d689b4a940b.png" width="300" />

🐽 This is a big bug.

[2017-11-21 02:33] hejianxian commented on #17
Why the item can be dragged in the `disable drag` mode?

[2017-11-21 02:37] hejianxian commented on #18
@HapLifeMan Thank you!

[code]
Something wrong here, it should be written like this:
[code]

[2017-11-21 02:46] hejianxian commented on #18
@HapLifeMan Thank you!

At first, is the `drop` callback not triggered? Maybe you can look this [simple demo source](https://github.com/hejianxian/vddl/blob/master/example/src/views/simple.vue).

Second, if you set the `drop` callback in `vddl-list`, you will have to splice the `:list` yourself.

[code]
[#L120](https://github.com/hejianxian/vddl/blob/master/example/src/views/simple.vue#L120)

[2017-11-21 06:32] AWulkan commented on #17
I don't know, I can take a loot at it this week.

[2017-11-21 06:48] HapLifeMan commented on #18
The `drop` callback isn't triggered, I'll try with handleDrop!
I try almost everything possible from your documentation 😅

[2017-11-21 07:33] baixiyang commented on #4
duplication element is the biggest bug i think. it will happen certainly,  when drag up ward. if the bug exit , no one will use this component at all。

[2017-11-21 07:34] AWulkan commented on #4
@baixiyang The duplication bug should be solved. Where are you experiencing it? Have you updated to the latest version?

[2017-11-22 08:05] HapLifeMan commented on #18
`handleDrop` doesn't work :(

[2017-11-22 08:10] hejianxian commented on #18
@HapLifeMan 😢

Give me more info! your code, browser, and `vddl` version?

[2017-11-22 08:47] AWulkan opened #19 "Is there a way to get parent container ID when dropping items?"
This is more of a question than an issue.

Let's say I have a nested list. I then drag an item from one container to another. Is there any way to see the ID of the container I dropped the item in?

Right now I only get information about the item's ID and the containers list in the `inserted` callback.

[2017-11-22 09:29] baixiyang commented on #4
change line 'this.splice(this.index,1)' to 'this.splice(this.wrapper.indexOf(this.draggable), 1)'  is useful in my environment. this is just an adivse.

[2017-11-22 09:31] HapLifeMan commented on #18
Here's the repo with the issue: [HapLifeMan/vddl-test](https://github.com/HapLifeMan/vddl-test)!

[2017-11-23 02:01] hejianxian commented on #18
@HapLifeMan

[code]

Not use '@' with drop callback.

[2017-11-23 08:20] HapLifeMan commented on #18
Is that work on your side?
I tried with `:drop` but nothing happens, `dropEvent` not triggered... I updated the repo!

[2017-11-23 08:29] hejianxian commented on #18
I tried your demo, if used `:drop`, the `dropEvent` triggered when drop a draggable element to the `list`.

I think, in fact, do you need the `dragover` callback? The `drop` callback just trigger when drop an element to the `vddl-list`;

[2017-11-23 08:35] HapLifeMan commented on #18
I have a list of draggable elements, I want to drag&drop these elements on 5 "single-lists" (= vddl-list that can contain only 1 draggable element but still dragable&dropable).

[2017-11-23 12:47] hejianxian commented on #18
Maybe you need 5 single list, like:

[code]
And then, set some conditions to limit draggable items number.

[2017-11-23 12:55] HapLifeMan commented on #18
Of course that's what I did but nothing is triggered on drop :/

[2017-11-28 06:13] ajeetku opened #20 "How to use it with script tag like vuejs"
we use vue js lib with script tag //cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js or download and attach only main file

but in this lib we are integrating this lib it gives
[Vue warn]: Unknown custom element: <vddl-list> - did you register the component correctly? For recursive components, make sure to provide the "name" option.

Same issue for other tags also..
Please guide how can we use

[2017-11-29 22:51] HapLifeMan commented on #18
After some tests, Vddl wasn't initialized and native HTML5 drag event was triggered.

I finally solve this problem after maaaanyyyyyyy (not sure if it's enough) hours of work by adding `DragAndDropList.install(Vue);` before instantiating Vue.

Wow, that was a real brainfuck, and the solution really ridiculous.
Hope that'll help people in the future!

[2017-11-29 22:51] #18 closed

[2017-11-30 05:49] hejianxian commented on #20
@ajeetku Update `vddl` to v0.7.1

[2017-12-05 19:18] pSchaub opened #21 "Support horizontal and vertical simultaneously"
Is it possible to support horizontal and vertical on the same container?
I want to drag containers from the "vertical" list inside the "horizontal" list.
Can you provide an example?

[2017-12-06 04:10] hejianxian commented on #21
Weekends, I try it.

[2017-12-12 06:38] authlab-frontdev opened #22 "list key is not present in vddl-list drop callback"
I have been working on a project with earlier version of vddl where `drop` callback from vddl-list worked properly. But with the newer version, I am facing a trouble. I don't find `list` key in drop callback object argument. Here is my code block for the callback:

[code]

It is necessary to mutate `list` for my project when I drop an element. I can not relay on default drag and drop element inser

[2017-12-12 09:32] authlab-frontdev commented on #22
I upgraded the version and it solved the issue.

[2017-12-12 09:32] #22 closed

[2017-12-12 14:33] hejianxian commented on #21
@pSchaub Hi.

I tried it, just change the style of the item inside the `Container`. Set `float: left`, and set the width to `50%`, and don't forget to change the style of the placeholder in the container.

[code]

[2017-12-14 10:30] DmitryNeposidjaka opened #23 "Duplicate keys detected: { key }. This may cause an update error."
Hi, thanks for your great component!! I have caught a an error while trying to use your demo https://github.com/hejianxian/vddl/blob/master/example/src/views/simple.vue
**print of error:**
![_107](https://user-images.githubusercontent.com/13102394/33987223-d523c5fe-e0c8-11e7-95b9-8de848f10990.png)
How can I fix it? what more information I cant present to you  ?

[2017-12-18 06:17] marsapolo opened #24 "effect-allowed设置成copy，不能复制还是移动"
move 移动元素，这是默认值。
copy 复制元素，将有一个复制光标。 不需要指定 index 和 wrapper。

我在例子里面，尝试修改effect-allowed的值，设置成move或者copy都是移动的项目，源目标上的节点都会消失，如果设置成copy，在MAC机器上，用chorme或者safari，按住option键，在用鼠标拖拽，实现的效果是copy的效果。
请问这是为何？

[2017-12-18 06:52] marsapolo commented on #24
又重新试了一遍在chorme下正常，只有在safari下面使用不正常

[2017-12-18 06:53] hejianxian commented on #24
现在可能对某些浏览器的拖动类型定义不太准确，我晚点再看看这个问题吧。

[2017-12-19 12:06] Lunatig opened #25 "nested list by XMLHttpRequests"
Hello.
When i do my list via XMLHttpRequests sorting not working properly.

if I move the container up, then the index of the top becomes the same as the lower one. that is, two identical containers are obtained.

nested-list.vue

[code]

if i load all tree with childrens at once sorting working normally.

[2017-12-19 12:38] Lunatig commented on #25
I found a solution
 just need to add type  and columns  for all childrens.

   foreach($nodes as $node){
              $node->type = 'container';
              $node->columns = [];
          }

[2017-12-19 13:57] #19 closed

[2017-12-19 15:38] hejianxian commented on #25
Can you elaborate on the features you want to achieve? If you need to synchronize the data dragged to the server, you can add the corresponding `callback` method.

[2017-12-19 16:21] Lunatig commented on #25
@hejianxian
yes. i want to synchronize.
right now sorting working perfect.
some css tweaks and i have category tree with sorting for my base.
![untitled-4](https://user-images.githubusercontent.com/3226171/34167060-b6ebd2c0-e4f1-11e7-98e7-1f6d379d2ebf.jpg)

Thank you

[2017-12-20 10:15] splink opened #26 "Publish as WebJar"
It would be super nice, if you could publish your library as WebJar.
https://www.webjars.org/contributing
WebJars make using client-side dependencies within JVM based projects very convenient.

Cheers

[2017-12-21 13:33] pSchaub commented on #21
@hejianxian Can you add this to the official (example) documentation?

[2017-12-21 20:58] eklundkristoffer commented on #23
I'm currently experiencing this as well.

[2017-12-22 10:44] yyman001 opened #27 "electron-vue框架里面调用会报错Duplicate keys detected"
下载你的包，本地安装完毕，web运行正常，把demo例子拷贝到electron写的容器会报以下错误
[code]
很奇怪。。。不知道如果修改组建才不会有这个提示呢？

[2017-12-22 10:45] yyman001 commented on #23
我使用内嵌electron 调用也是一样会出现这个问题，web没发现这个问题

[2017-12-23 08:25] yyman001 commented on #27
解决key键重复 `fix Duplicate keys detected`
在翻阅很多资料都说到了这个问题，主要原因还不清楚，但可能真是vue模板的一个bug或者渲染bug，为了避免，我们只能使用`唯一key`，如果唯一？
解决：添加一个随机数到key值上，创建唯一key
随便找到一个官方demo
vuex-demo:
[code]
最后，如果还是不行？
看这个 https://github.com/vuejs/vue/issues/3810

[2017-12-23 08:28] yyman001 commented on #23
@DmitryNeposidjaka @eklundkristoffer  i am find a fix function,more msg look at https://github.com/hejianxian/vddl/issues/27

[2017-12-23 12:22] yyman001 commented on #27
又经过一次调试发现，自己看图吧
[code]
原因，应该是插件设计的问题，
插入方法比删除方法执行还要早出发，所以导致了有重复键的出现（也有可能不同浏览器的渲染差异造成）
解决办法hack:
给`handleDrop`延迟执行，避免把copy元素先插入，这样2个重复的元素是导致我们出bug的主要原因
[code]
最终比较完美的解决办法
1.把handleDrop 传入的对象 缓存起来
2.直接在 handleMoved 函数里面 把 删除操作完成
[code]

[2017-12-23 12:23] yyman001 commented on #23
@eklundkristoffer  @DmitryNeposidjaka @hejianxian 这次是发现了导致这个bug的原因和暂时解决方案。

[2017-12-23 12:59] hejianxian commented on #27
@yyman001 抱歉，最近有点忙，我现在看一下。

[2017-12-23 16:01] hejianxian commented on #27
这应该是用了最新版的Vue2而产生的问题，原本设计就是drop会比moved先触发，错误的提示是来自drop执行的时候，插入了一个和被拖动一样的元素。这个目前应该不会影响功能，或者先把Vue版本降一下。我暂时没有很好的解决方案，让我再想想。

[2017-12-23 16:07] hejianxian commented on #23
@DmitryNeposidjaka @eklundkristoffer

In the newer version of `vue`, this error message does appear. I will find a way to fix this problem as soon as possible. Or you can lower the `vue` version first.

[2017-12-24 17:03] yyman001 commented on #27
@hejianxian 其他demo一样会触发这个错误的，但我看源码（修改module里面的源文件），也没法定位是哪个方法`删除`和`插入`，项目需要用到这个`nested.vue`,这种嵌套性，就更难修正这个bug，现在我想看看能不能暂时修复下。

[2017-12-25 02:22] hejianxian commented on #27
@yyman001 主要原因是因为在列表触发 drop 事件的时候，需要进行列表数据的插入操作，而插入的数据就是被拖动起来的那个，而这个数据此时还没有被删除，这样新插入的数据在key值上的确是重复的。这个感觉是 Vue 换成 Prxoy之后才出现的问题。

[2017-12-25 08:55] yyman001 commented on #27
@hejianxian 确实是这样的，就是那个嵌套的例子和源码有些功能有点复杂，例如我写了个自定义的drop事件，会把拖拉的元素删除，并没有添加成功，这个要用到vuex，如果可以把删除和添加方法暴露的更清晰点就好了，可以让自己控制，但现在我改源码调试也没有办法调试得出具体在哪里写这个操作，想配合vuex，现在不懂怎么处理，好尴尬，能力太弱。

[2017-12-28 12:40] ChadTaljaardt opened #28 "Issue with Scrolling while the item is selected for dragging."
Id just like to say that this package is awesome! It has saved me a load of time.

When i click an item and move it as it to reorder the list, i cannot scroll. This is a issue if you have a very long list and need to move an element from the top to the bottom and vice versa!

do you know of a way to fix this?

Thanks!

[2017-12-28 14:31] hejianxian commented on #28
Thank you!

Perhaps, you can try the `dragover` callback.

[2017-12-28 14:38] ChadTaljaardt commented on #28
@hejianxian Can you provide an example?

[2017-12-30 18:59] Zanzavar commented on #23
Same problem here. Unfortunately i cannot downgrade as i need to use Vue 2.5 in order to implement subscribing to actions.

[2017-12-31 13:50] yyman001 commented on #27
@hejianxian 先删再添加，又引发一个bug，就是拖拽，如果由下往上，插入的位置是正确的，如果从上向下拖，位置会+1，位置不正确。。。真是头疼

[2017-12-31 15:53] yyman001 commented on #27
@hejianxian @AWulkan
我又想到了另外一个方法，是这样的
1.在插入的数据的时候，用一个别的对象（B占位符对象）来替换这个一样的元素A副本，当然这个对象跟之前那些一样，除了key值外，防止报错
2.然后接着删除旧的复制元素A的本体
3.把占位符替换为原来的那个拖拽元素A副本
另外，我是想了另外一个办法，是拷贝那个list数组为fix-list，然后完成上面的fix操作，最后替换原来的那个list，但这个有个问题，就是没办法把整个数组替换？我翻阅了官网和网上一些资料都没找到。
具体代码
[code]

[2018-01-01 17:21] yyman001 commented on #27
最后更新方法：不清楚有时候拖拽会报key 1重复。。。
[code]

[2018-01-02 09:45] yyman001 opened #29 "后期升级能不能扩展个自定义事件"
后期升级能不能扩展个自定义事件
例如：右键，双击
拖拽优化：如果可以拖拽到内容盒子的头部就判断为盒子比-必须拖拽到盒子里更好吧。不过功能上实现还可能有点复杂。

[2018-01-08 07:44] blackandred opened #30 "Moving an element actually copies it"
Hello,

I'm attempting to understand how does the vddl work and I got stuck at my list elements being copied instead of moved.

CategoryTree.vue
[code]

Node.vue
[code]

![w](https://user-images.githubusercontent.com/22807686/34662320-0f34d7b6-f450-11e7-8427-bdd440e694d5.gif)

Do you have any ideas if I'm doing anything wrong or is it a bug?

Thanks.

[2018-01-15 16:23] AWulkan commented on #30
Try setting the index to the `id` of the item instead of a vue-generated index number.

[2018-01-15 19:41] AWulkan commented on #23
@Zanzavar I think it was somewhere around 2.5.9 that this error log was introduced. So you can still be on 2.5.

Anyway, this error was always in VDDL, the new Vue version just displays it.

[2018-01-16 13:15] mlapeyre3 commented on #30
Starting from what @AWulkan wrote, I set `:key="item.id"` and `:index="itemVueGeneratedIndex"`
This works (as there is no duplication or strange behavior anymore) but now I got the console warning:
`Duplicate keys detected: '5'. This may cause an update error.` which seems to be a known issue ( #23 and #27)

[2018-01-16 22:28] AWulkan commented on #30
Yes, the console warning is a known error. The app should still work as normal though. :)
I'm sure the error bug will be sorted out eventually.

[2018-01-17 13:46] mlapeyre3 commented on #19
Hi @AWulkan, did you find a solution (or a workaround) of your issue? I have the same question!
Thanks

[2018-01-18 02:26] hejianxian commented on #19
It may be possible to add the `containerId` attribute to the `item` data.

[2018-01-18 13:59] mlapeyre3 commented on #28
Hey!
I encounter the same issue. Did anyone find a solution/ workaround?

[2018-01-18 14:33] ChadTaljaardt commented on #28
@mlapeyre3 i havent yet.

[2018-01-19 05:15] hejianxian commented on #28
😢 I am optimizing the `vddl`, it may take a few weeks.

[2018-01-19 08:13] ChadTaljaardt commented on #28
Thanks a lot @hejianxian. I absolutely love ```vddl``` :D

[2018-02-01 11:51] mgthomas99 commented on #30
Possible duplication of #4 ?

[2018-02-03 11:43] blackandred commented on #30
Sorry for not responding, I nad A break in the Project, I git back to it and I wilk test the proposed solution on Sunday it Monday. Thanks for the support.

[2018-02-03 13:36] getanwar commented on #24
#31 It's fixed and sent a pull request.

[2018-02-05 07:36] blackandred commented on #30
It seems that adding a new property "orderIndex" and making it a index for dragging does not make it working. It still copies but not duplicates that much.

[2018-02-06 18:13] arnoson commented on #4
I had a case where I had to access the final index (without the duplicated item in the list) inside the drop callback of a vddl-list and have a little workaround
[code]

[2018-02-09 10:44] yyman001 opened #32 "哪个判断代码可以支持拖拽到文件夹头部插入到内容？"
哪个判断代码可以支持拖拽到文件夹头部插入到内容？

[2018-02-18 10:40] partikule opened #33 "vddl-list handleDrop callback not returning the callback result"
transferredObject is alway true or false but can't be, as the documentation says it here :
http://hejx.space/vddl/#/component/vddl-list

"All other return values will be treated as the object to insert into the array. In most cases you simply want to return the item parameter, but there are no restrictions on what you can return."

The reason is invokeCallback() only returns true or false, but not

[2018-03-05 16:19] FelipeRobles92 opened #34 "How do I get the id from the container?"
I need to validate that the next flow is correct , but I do not have the container Id

[2018-03-06 13:18] JuniorNunes7 commented on #23
I solved this problem defining a unique prefix to key:

[code]

[2018-03-06 18:22] #34 closed

[2018-03-14 04:48] archSeer opened #35 "Modifying the list doesn't re-render"
I have a list like this:

[code]

[code]

If I modify the array `a.push(2)`, the list doesn't update. I can see the Vue dashboard to properly update and add the components

<img width="249" alt="screen shot 2018-03-14 at 13 46 29" src="https://user-images.githubusercontent.com/1372918/37383778-394babe4-278e-11e8-9682-bb3cec5d8192.png">

but the actual view stays the same. I think this is because w

[2018-03-14 04:52] archSeer commented on #35
Weird, wrapping the v-for in a div works:

[code]

[2018-03-15 11:55] ChadTaljaardt commented on #28
Hello,

Is there any updated on this @hejianxian ?
Thanks!

[2018-03-16 03:54] huangqiang8438 commented on #4
出现这个的问题是判断拖拽是缺少一个判断，判断当前拖拽的是向上移动还是向下移动

[2018-03-16 10:58] kjhatis commented on #23
[code]
After trying your solutiion it still says the same @JuniorNunes7

[2018-03-16 15:05] hejianxian commented on #35
@archSeer I am sorry for late reply.

Has your problem been solved? I tried your description and it is OK.

[2018-03-16 15:13] hejianxian commented on #33
@partikule I am sorry for late reply.

If there is a callback method, when the `invokeCallback` is executed, the callback method is executed directly and the parameters are returned. Returns `true` or `false` because other places need to determine if there is a callback.

[2018-03-16 15:14] hejianxian commented on #32
不太明白你说的问题，可以举个例子吗？

[2018-03-16 15:15] hejianxian commented on #29
谢谢你的提议，不过目前并不打算添加其他功能。

[2018-03-16 15:15] #29 closed

[2018-03-16 15:17] #26 closed

[2018-03-16 15:19] archSeer commented on #35
@hejianxian It wasn't working correctly.  Vuejs would lose track of the elements since the placeholder inserting would mess with the DOM. What I did is rewrote the vddl-list component to stop changing the DOM and just store an index, then use a render function. I can provide a PR; might help with #3

[2018-03-16 15:19] hejianxian commented on #23
Try it.

https://github.com/hejianxian/vddl#warning

[2018-03-16 15:20] archSeer commented on #35
This is what I have so far: https://gist.github.com/archSeer/8529c45c5b76e564c53eb4f48524f623

[2018-03-16 15:25] #20 closed

[2018-03-16 20:01] pSchaub commented on #35
I have the same issue. It's really weird. There must be a bug anywhere in this library.

[2018-03-17 02:51] yyman001 commented on #32
我简单说下：
用官方的demo
http://hejx.space/vddl-demo/#/simple
有List A，List B，List C，现在的拖拽只能往他们的content放会出出现效果，如果直接拖拽到ListA头部的时候，能不能自动计算放入位置为当前ListA的content？

[2018-03-17 07:34] partikule commented on #33
Hi Heji !

Thanks for your answer !
I finally managed that without modify the method.

[2018-03-17 07:42] archSeer commented on #35
As I described, the official component changes the DOM so vuejs loses track
of the v-for elements. Using my component above works :) it's vddl-list but
edited to use render() instead of template

On Sat, 17 Mar 2018 at 05:01, pSchaub <notifications@github.com> wrote:

[2018-03-17 09:07] cn-xufei opened #36 "I don't want to change the id"
https://github.com/hejianxian/vddl/blob/85806a3f84aff3e1d986ad1dd5b28d3c8c334f9d/example/src/views/simple.vue#L131-L144

[2018-03-17 09:51] pSchaub commented on #36
You may duplicate the id of all items to another field (e.g. `item.vddlId`) before using it with vddl. Then you can only change the vddl-internal id on that function. Just an idea as workaround.

[2018-03-17 09:56] pSchaub commented on #35
@archSeer Please provide a PR. This DOM-manipulation really destroys the functionality of vddl - this needs to be done in the correct way as you described.

[2018-03-18 16:37] LYJH1314 opened #37 "vue2.0支持嵌套拖拽吗"
官网文档说只支持vue1.0

[2018-03-19 01:39] cn-xufei commented on #36
Thank you for your reply
This is my solution：
I am at handleDrop record index,Then modify ID in handleMoved according to index
[code]

[2018-03-19 01:57] hejianxian commented on #37
@LYJH1314 你好，嵌套是指？Demo上的没有符合你需求的吗？

[2018-03-27 13:22] ChucKN0risK opened #38 "Specify a tag for vddl-draggable"
Currently the `<vddl-draggable>` renders as a `<div>`.

Would it be possible to specify the rendered tag with a custom directive `:tag="button"` for exemple?

Thanks in advance 🙂

[2018-03-27 13:53] hejianxian commented on #38
Sorry, it is not supported now. 😢

[2018-03-27 15:28] ChucKN0risK commented on #38
@hejianxian I just made a pull request to include it ;)

[2018-03-27 20:59] ChucKN0risK opened #40 "How can I make an element be a dropzone and a drag element at the same time ?"

[2018-03-27 21:18] ChucKN0risK opened #41 "How can I make a drag element also be a dropzone?"
Hi! Is it possible to make a drag element also be a dropzone?

Currently I have a list of elements I can reorganize via drag and drop. However I would also like to be able to drag elements from another list inside the elements of the former one. Is it possible ?

I have a list of elements I can reorganize : Colors, Components and Text Styles. These are drag elements. And I want to be able to drag

[2018-03-28 09:47] #40 closed

[2018-03-29 05:27] hejianxian commented on #41
![image](https://user-images.githubusercontent.com/6087438/38071556-8fc6f254-3354-11e8-8370-93b616197468.png)

Just like the `Nested` demo, adjust the style, it should be able to achieve the effect you want.

[2018-04-10 09:46] ChadTaljaardt opened #44 "Ugly Flickering effect?"
Hello,

I'll start off by saying that this is a great tool, I am using it in many different places in my project!

I'm having an issue when I click and drag the field I want to move, I get this ugly hovering effect that flickers.

I have attached a video of the issue is getting, would you be able to assist in helping me fix this?

Thanks!

https://cl.ly/0s123d3a0O1x

[2018-04-11 01:52] hejianxian commented on #44
@ChadTaljaardt Thank you!

In my opinion, try to increase the height of the placeholder and keep it the same as the height of the dragging element.

[2018-04-11 06:28] ChadTaljaardt commented on #44
I’ll give it a shot!

[2018-04-11 09:52] ChadTaljaardt commented on #44
Great, thanks this has worked!

[2018-04-11 09:52] #44 closed, assigned to nobody

[2018-04-19 16:46] zhaozhinan opened #45 "code"
拖拽不同的按钮，对应的添加上对应的html代码段，可以吗

[2018-04-20 01:52] hejianxian commented on #45
拖动的是数据，至于对应的html代码，或许可以按照某些约定生成？

[2018-04-20 01:56] hejianxian commented on #45
@zhaozhinan 像一些在线的表单制作功能，都是固定好数据和模版。例如拖动一个多行输入框（按钮）到列表，在列表作为一个item，可以根据数据的类型来选择不同的模版进行渲染。

[2018-04-20 08:09] zhaozhinan commented on #45
这个包vddl支持像这种的吗？可以扩展个demo吗神 @hejianxian

[2018-04-20 08:11] zhaozhinan commented on #37
看example里的vue用的2.3.3 不是用的vue的1版本吧

[2018-04-20 08:17] hejianxian commented on #45
Demo 我就不写了。你可以看看我的截图！

![image](https://user-images.githubusercontent.com/6087438/39038426-110b4834-44b6-11e8-87ba-3982273ec319.png)

[2018-04-20 08:25] zhaozhinan commented on #45
对 就是这种需求！！ 我就安装 vddl就行是吧 还用的不太熟， 用的是vue2吧 我看有说是1的 要是1就惨了 开发时间紧张的要死 多谢啊

[2018-04-20 08:27] zhaozhinan commented on #45
只要方向对 就万事大吉了

[2018-04-22 02:41] zhaozhinan commented on #45
上面截图可以用vddl组件这个实现吗？？咋弄的呀 😄

[2018-04-22 15:38] zhaozhinan commented on #45
npm link 了半天 link不上去神 求助啊 加个Q

[2018-04-22 16:10] zhaozhinan commented on #45
怎么用啊这个大神 您看我用的对不对 我这一直报错，一直搞不上去 我是这么用的
1， cnpm i vddl --save
2,  main.js 里import vddl 并挂载Vue.use(Vddl);
3，把list文件放到template文件夹下
4， 页面逻辑里import那个list.vue 并注册
5，把例子里那一页nested.vue的具体代码粘贴过来
6，运行 就是运行不起来
有什么问题吗？求指点下可以吗？感激涕零

[2018-04-23 01:36] hejianxian commented on #45
把错误贴上来看看。

或者example，可以跑起来没？

[2018-04-23 02:14] zhaozhinan commented on #45
你项目里的example的例子可以跑 移植过来就不行  跑不起来
<img width="982" alt="123445" src="https://user-images.githubusercontent.com/10110762/39103614-510f4730-46de-11e8-9e49-0e61aad7a95e.png">
项目已经发邮件 在store.vue里

[2018-04-23 02:18] hejianxian commented on #45
"Cannot find module './Mime'", 这是？

[2018-04-23 02:19] hejianxian commented on #45
这个错误，看不出和vddl有什么关系

[2018-04-23 02:24] zhaozhinan commented on #45
把vddl相关的引用去掉就能跑 不信您看看

[2018-04-23 02:40] hejianxian commented on #45
我用npm装完依赖后，执行 `npm start` 并没有出现你那个报错。只是打开的页面，是空白。

Version:
`npm 5.4.2`
`nodejs 8.4.0`

[code]

[2018-04-23 02:42] zhaozhinan commented on #45
空白页肯定是不对的呢。。 http://localhost:8110/store 这个页面

[2018-04-23 02:48] hejianxian commented on #45
要不你试试重装依赖吧，上着班呢 😢

[2018-04-23 04:10] hejianxian commented on #45
https://stackoverflow.com/questions/32994407/error-cannot-find-module-mime?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

[2018-04-27 09:55] xyz-zz commented on #23
Even if the value of the key is changed, the only existing ID attribute will still be wrong

<el-option v-for="(item, index) in roleOptions"
                       :key="item.id"
                       :label="item.roleName"
                       :value="item.roleCode"></el-option>

[2018-05-07 01:03] Longx opened #46 "怎么一个seleted状态的元素进行拖拽排序后还存在这个状态"
目前正运用大佬插件实现一个基于vue的表单设计器项目，但遇到一个问题。当我拖拽排序列表里进行了seleted回调后，会给当前元素添加一个选中的状态，但如果我再去拖拽当前这个选中元素进行重新排序时，之前选中的状态就不存在了。看了大神的源码，无奈能力有限，望大神指点一二。另外还一个问题就key的重复问题，看了之前一些求解，也未能解决！

[2018-05-15 18:39] danieldevsquad opened #47 "Item disappears when moved to last last position."
I was just running a sample code:

[code]

[2018-05-25 09:26] zp961214 opened #49 "vdd-list dragover回调函数为什么会触发多次"
如题

[2018-05-25 10:09] #49 closed, assigned to nobody

[2018-05-25 10:28] hejianxian commented on #49
over，就是一直会触发。

[2018-06-05 12:09] RebeccaIsCoding commented on #30
As @AWulkan already said. Do not take the vue generated index. Instead set the key to `:key="child.id"` in here 'v-for="(child, num) in category.children" :category="child" :index="num" :list="category.children" '.

[2018-06-08 08:46] benoitvb opened #50 "Uncaught TypeError: Cannot read property 'splice' of undefined"
Hello,
I'm working on a 3 level nested lists.
There is an issue when I'm trying to drop an element to a list element that is empty or newly created.
The targeted list is undefined.

`Section.vue?b2d5:144 Uncaught TypeError: Cannot read property 'splice' of undefined
    at VueComponent.handleDrop (Section.vue?d3fb:142)
    at boundFn (vue.esm.js?efeb:188)
    at VueComponent.invokeCallback (vddl.r

[2018-07-04 22:18] daniloras opened #51 "How do I get the column name where I'm moving the card?"
I'm using the code below:

`:moved="showTime"`

`showTime: function (item) {
  console.log(item)
},`

Get name Column Destiny?

[2018-08-14 15:05] junhengDeng opened #52 "有bug，元素在disabled-if等于false的情况下被拖动，并且会消失"
disabled-if的值，重复地来回切换，并且拖拽元素;然后元素在disabled-if=true的情况下被拖动，并且当元素拖动到父元素之外，元素会被丢失。
在Nested的demo中，可以重复这个bug

[2018-08-22 09:43] ChadTaljaardt commented on #35
Wrapping it in a div worked for me as well. But this really should be fixed as part of the package.

[2018-09-06 18:58] andreasvirkus commented on #3
@vividvilla would you like to add a PR? Also interested in using `transition-group`

[2018-09-12 08:53] awulkan commented on #47
I had this problem as well and worked around it by toggling the list off and on again. Because my data was updated correctly, but it didn't re-render.

First, set a variable called `listIsVisible` on your root list container. Also, make the variable `true` by default. Then add this method and call it whenever you updated your list, for example in the handleDragend method.

[code]

Ugly fix, but wo

[2018-09-22 20:47] ahallez commented on #33
This still does not make sense to me. It does not work as described in the documentation as far as I can see.

What does this mean? Where is the result returned to?

[2018-10-04 09:06] Tanyuta commented on #23
Thank u, @JuniorNunes7,  it solved my problem too.

[2018-11-02 14:00] ChadTaljaardt commented on #28
@hejianxian do you have a update on this?

[2018-11-16 20:00] boutell commented on #27
+1. We get this warning, it's transitory I think, a moment later there are no duplicate keys anymore.

[2018-12-16 17:26] mcisback commented on #23
thanks so much ! This solved my issue :D

[2018-12-19 10:13] xiooLoo commented on #23
谢谢了, 很有效果, 只要保证Array的`:key`不一致就不会有问题了😁

[2018-12-22 14:06] #32 closed

[2019-02-06 14:40] stas-kh opened #53 "Update the version of vddl on NPM"
Hi guys,

Thanks for the work you do!

Could we check that the latest changes are published on NPM? I'm looking for an ability to set a custom tag for `vddl-draggable` and seems it is not published yet, but the pull request has been merged long time ago.

[2019-03-21 01:04] ejay21 opened #54 "Clickable tags"
Hi guys,

I've been using this on my project and i was wondering if there is a way that i can click on a tag and perform as if it was dragged on a container also?

[2019-04-18 19:21] W4G1 commented on #23
If prefixing keys is not your thing, nesting the v-for divs inside any other element also seems to work:
[code]

[2019-05-06 04:31] HoaDevDn opened #55 "How to drag and drop smooth?"
Hi guys,
How to drag and drop smooth?
Like this:
https://jobchatproduction.s3.ap-southeast-1.amazonaws.com/mediaUpload/1557117220360_bhy9lcjf8hm.ogv

[2019-05-14 04:26] Sakthi002 opened #56 "demo page not opening"
![image](https://user-images.githubusercontent.com/35330401/57670791-7846f480-762e-11e9-87f1-3a573bb0ed1c.png)

[2019-05-14 10:04] hejianxian commented on #56
The domain is under review and is now stopped. May still have to wait a few days.

[2019-05-14 10:04] #56 closed, assigned to nobody

[2019-06-12 03:24] pranavkumar389 opened #57 "How to add a background image/icon in drop area?"
I want to add a plus icon/image in drop area. Something like watermark. How can I achieve this?

[2019-06-23 04:30] pranavkumar389 opened #58 "How to stub the vddl components?"
How can I stub the vddl components?
I tried with importing the components but getting
``` SyntaxError: Unexpected token < ```

[2019-06-24 01:53] Lucascoml commented on #23
Has anyone seen solve?

[2019-07-02 08:22] 635566381 opened #59 "不支持QQ浏览器?"
这个插件不支持QQ浏览器? QQ浏览器拖动过后自动返回

[2019-07-08 08:20] wenweih commented on #23
@Lucascoml

add ```index``` for ```v-for``` when iterator

like ```<div v-for="(item, index) in items" :key="`item-${index}`"></div>```

[V-for with simple arrays: what key to use?](https://forum.vuejs.org/t/v-for-with-simple-arrays-what-key-to-use/13692)

[2019-07-16 08:27] jetsmartone opened #60 "Canceling drop not working"
I need cancel dropping in '_drop_' callback.
'_return false_' dont work because, _List.invokeCallback('drop',...)_ always return 'true'.

[code]

While must be

`return fn({...`

[2019-08-21 14:15] ronaldvanderreest commented on #30
works like a charm

[2019-09-10 11:39] AGlebova opened #61 "With active drag and drop"
With very active drag and drop for reasons unknown to me, a placeholder is not entered in this.listNode, because of this, in the future, when I drop, the index is returned to -1, and accordingly an adequate drop does not occur

[2019-10-14 07:19] awulkan commented on #17
It works now.

[2019-10-14 07:19] #17 closed

[2019-12-20 00:37] eeerrrttty commented on #23
Best answer, worked here!

[2019-12-23 22:19] moda20 opened #62 "inserted is not being triggered when rearranging items inside container"
hey !

i found out, using the example in the repo that rearranging items inside containers and other random element switching places between containers,  is not counted an an insertion and the inserted callback on the `<vddl-list>` is not being called.

is this a bug or a feature ?

[2020-06-21 22:06] jeffersonassilva commented on #23
Add `item-key` in `v-data-table`, and fixed with your attribute name (string).

[code]

[code]

[2020-06-24 07:40] korsino commented on #23
Worked! Thank you 🙌

[2020-10-10 06:42] marcelodmdo commented on #23
In determinated case, we can have:
post list (5 per page)
when you create a new post, and append (or prepend) to reactive array, a new element is accounted for.
When you scroll after that, you will see that have duplicated object (retrieved from backend, 6 insted 5)
thats the error

[2020-12-06 06:24] houtianqi-ansin commented on #23
Thank you, I solved it.

[2021-05-31 09:27] ahallez commented on #35
I have this problem after updating to the latest version of the package.
 Removing the placeholder tag, solves the rerendering problem, but that of course causes new problems.

[2022-10-03 06:34] bhanu2217 opened #63 "Vue.js 3 support"
When do you plan to add support for Vue.js 3?

[2022-11-14 09:06] whj768702 commented on #63
Based on the author's library, I upgraded to a vue3 version. https://www.npmjs.com/package/dd-vue3